.footer-20192 {
  position: relative;
  color: #fff;
  padding: 7rem 0;
  background-color: #141d2a;
}

.footer-20192 .container {
  position: relative;
}

.footer-20192 h3 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.5;
}

.footer-20192 .links li {
  margin-bottom: 10px;
  line-height: 1.5;
  display: block;
}

.footer-20192 .links li a {
  color: #666873;
}

.footer-20192 .links li a:hover {
  color: #fff;
}

.footer-20192 .social {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-20192 .social li {
  display: inline-block;
  margin-right: 10px; /* space between icons */
}

.footer-20192 .social li a {
  display: flex;                /* use flex to center content */
  align-items: center;          /* vertical centering */
  justify-content: center;      /* horizontal centering */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #8186d5;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.footer-20192 .social li a:hover {
  background-color: #5f62c2;
}


.footer-20192 .social li a>span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer-20192 .footer-logo {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.footer-20192 .copyright {
  color: #666873;
}

.footer-20192 .cta {
  -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
  box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
  padding: 20px;
  background-color: #8186d5;
  top: -150px;
  position: relative;
}

.footer-20192 .cta h2,
.footer-20192 .cta h3 {
  line-height: 1.5;
}

.footer-20192 .cta h3 {
  font-size: 20px;
}